<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EquipmentMapper">
    <!-- 对应字段映射 -->
    <resultMap id="EquipmentResultMap" type="com.example.entity.Equipment">
        <result property="equipmentId" column="equipment_id" />
        <result property="equipmentName" column="equipment_name" />
        <result property="additionalPrice" column="additional_price" />
        <result property="description" column="description" />
    </resultMap>

    <!-- 获取所有设备 -->
    <select id="selectAllEquipment" resultMap="EquipmentResultMap">
        SELECT equipment_id, equipment_name, additional_price, description
        FROM equipment
    </select>

    <!-- 通过 ID 获取是设备 -->
    <select id="selectEquipmentById" resultMap="EquipmentResultMap">
        SELECT equipment_id, equipment_name, additional_price, description
        FROM equipment
        WHERE equipment_id = #{equipmentId}
    </select>

    <!-- 通过名称获取是设备 -->
    <select id="selectEquipmentByName" resultMap="EquipmentResultMap">
        SELECT equipment_id, equipment_name, additional_price, description
        FROM equipment
        WHERE equipment_name = #{equipmentName}
    </select>

    <!-- 添加一个设备 -->
    <insert id="insertEquipment" useGeneratedKeys="true" keyProperty="equipmentId">
        INSERT INTO equipment (equipment_id, equipment_name, additional_price, description)
        VALUES (NEXT VALUE FOR equipment_seq, #{equipmentName}, #{additionalPrice}, #{description})
    </insert>

    <!-- 更新一个设备 -->
    <update id="updateEquipment">
        UPDATE equipment
        SET equipment_name = #{equipmentName}, additional_price = #{additionalPrice}, description = #{description}
        WHERE equipment_id = #{equipmentId}
    </update>

    <!-- 删除一个设备 -->
    <delete id="deleteEquipment">
        DELETE FROM equipment
        WHERE equipment_id = #{equipmentId}
    </delete>
</mapper>