<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.EquipmentMapper">
    <select id="selectAllEquipments">
        SELECT *
        FROM equipment
    </select>

    <select id="selectEquipmentById">
        SELECT *
        FROM equipment
        WHERE equipment_id = #{equipmentId}
    </select>

    <!-- 添加一个设备 -->
    <insert id="insertEquipments" useGeneratedKeys="true" keyProperty="roomId">
        INSERT INTO equipment (equipment_id, equipment_name, additional_price, description)
        VALUES (NEXT VALUE FOR equipment_seq, #{equipmentId}, #{equipmentName}, #{additionalPrice}, #{description})
    </insert>

    <!-- 更新一个设备 -->
    <update id="updateEquipment">
        UPDATE equipment
        SET equipment_name = #{equipmentName}, additional_price = #{additionalPrice}, description = #{description}
        WHERE equipment_id = #{equipmentId}
    </update>

    <!-- 删除一个会议室 -->
    <delete id="deleteEquipment">
        DELETE FORM equipment
        WHERE equipment_id = #{equipmentId}
    </delete>
</mapper>