worker_processes  auto;

events {
    worker_connections  1024;  # 最大连接数
}

http {
    # 启用文件传输优化
    sendfile        on;
    keepalive_timeout  65;

    # 自定义反向代理配置
    server {
        listen 3000;  # 代理端口

        # 转发前端请求
        location / {
            proxy_pass http://localhost:5173;  # Vue 服务地址
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        # 转发后端请求
        location /api/ {
            proxy_pass http://localhost:8080/;  # SpringBoot 服务地址
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }
    }
}
